.body {
  background-image: url('http://i.stack.imgur.com/kx8MT.gif');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;

    display: flex;
    flex-wrap: nowrap;
}
.center {
  margin: 0 auto;
  width: 50vw;
  height: 70vh;
}

.main {
  width: 75%;
  height: 50vh;

  border-style:double;
  border-color:#02317d;
  background-color:#112340;

  float: left;

}

.nav {
  float: right;

  width: 20%;
  height: 50vh;

  border-style:double;
  border-color:#02317d;
  background-color:#112340;
}

.heading {
  color: #115f8a;
  font-family: "Lucida Console", Courier, monospace;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
}