body {
  margin:0;
  padding:0;
  height: 100vh;

  background-image: url("./resources/background1.gif");
  background-size: cover;
}

.center {
  margin: 0 auto;
  width: 50vw;
  transform: translateY(20vh);
}

.main {
  width: 75%;
  height: 50vh;

  border-style:double;
  border-color:#02317d;
  background-color:#112340;

  float: left;

}

.nav {
  float: right;

  width: 20%;
  height: 50vh;

  border-style:double;
  border-color:#02317d;
  background-color:#112340;
}

.heading {
  color: #115f8a;
  font-family: "Lucida Console", Courier, monospace;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
}

.planet {
  margin: -11% 0%;
  background-image: url("./resources/giph1.gif");
  background-size: 100% 100%;
  width: 20%;
  height: 20%;
}